<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue first</title>
    <script src="./vue-2.5.8.js"></script>
</head>
<body>

<div id="example">
    <h1 v-if="showh1">条件显示</h1>
    <h1 v-if="showh2">showh2</h1>
    <!-- v-else 元素必须紧跟在带 v-if 或者 v-else-if 的元素的后面，否则它将不会被识别。 他也只受最近的v-if影响-->
    <h1 v-else>else显示</h1>


    <!-- 因为 v-if 是一个指令，所以必须将它添加到一个元素上。但是如果想切换多个元素呢？此时可以把一个 <template> 元素当做不可见的包裹元素，并在上面使用 v-if。最终的渲染结果将不包含 <template> 元素。 -->
    <template v-if="temshow">
        <p v-if="type === 1">渲染出来的template元素是不存在的</p>
        <p v-else-if="type === 2">temp2</p>
        <p v-else="type === 3">temp3</p>
    </template>

</div>





<script>

    var data = {
        showh1: true,
        showh2: false,
        temshow: true,
        type: 1
    };



    var vm  = new Vue({
        el: '#example',
        data: data
    })












</script>
</body>
</html>



