<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue-2.5.8.js"></script>
</head>
<body>


<div id="example">
    <p>{{ total }}</p>
    <zx-button v-on:selfincrement="incremnetTotal"></zx-button>       <!-- 自定义事件事件名是自己取的 自定义事件是给子组件用的 而自定义事件对应的真正事件是父组件的-->
    <zx-button v-on:selfincrement="incremnetTotal"></zx-button>       <!-- 注意注意 自定义事件名貌似不能用带大写的名字，因为html不认，都算小写，但是注册的事件名又是大写，就不会触发了 -->
    <br>
    <zx-click1></zx-click1>
    <br>
    <!-- 注意注意注意 v-model="price"是语法糖，等效于 v-bind:value="price" v-on:input="price = $event.target.value" -->
    <!-- 也就是默认绑定value属性并注册input事件 v-model双向绑定要有输入一般用在输入框上都有value属性 -->
    <p>{{ price }}</p>
    <zx-input v-model="price"></zx-input>
    <br>
    <input type="text" v-bind:value="price" v-on:input="price = $event.target.value">
    <br>
    <input type="text" v-model="price">

    <!-- 自定义组件的v-model -->
    <br>
    <p>{{ foo }}</p>
    <zx-checkbox v-model="foo" value="some value"></zx-checkbox>


</div>







<script>

    // 使用 $on(eventName) 监听事件 使用 $emit(eventName) 触发事件
    // 不能用 $on 侦听子组件释放的事件，而必须在模板里直接用 v-on 绑定，参见下面的例子。

    Vue.component('zx-button', {
        template: '<button v-on:click="incrementCounter">{{ counter }}</button>',
        data: function(){
            return {
                counter: 0
            }
        },
        methods: {
            incrementCounter: function(){
                this.counter += 1;
                this.$emit('selfincrement'); // 在本例中，子组件已经和它外部完全解耦了。它所做的只是报告自己的内部事件，因为父组件可能会关心这些事件。
            }
        }
    });

    Vue.component('zx-click1', {
        template: '<p v-on:click="dianwo">{{ text }}</p>',
        data: function(){
            return {
                text: '点我点我点我点我'
            }
        },
        methods: {
            dianwo: function(){
                alert('你真的点啊？');
            }
        }
    });

    Vue.component('zx-input', {
        template: '<span>$<input ref="input" v-bind:value="value" v-on:input="updataValue($event.target.value)"></span>',
        // template: '<input type="text">', // 思考思考，虽然v-model是那两个等效的语法糖，但是直接把模板这么写，什么都不加只靠v-model貌似不起作用，说明放在子组件里和直接写等效的input还是有不同的。
        props: ['value'], // 这里为什么是value，就是v-model等效的v-bind:value
        methods: {
            updataValue: function(argument){
                var formattedValue = argument.trim().slice(0,argument.indexOf('.')===-1?argument.length:argument.indexOf('.') + 3);
                if(formattedValue !== argument){
                    this.$refs.input.value = formattedValue; // $refs.x可以取到上面用ref标记的元素
                }
                this.$emit('input', Number(formattedValue)); // 这里触发的也是v-model等效的v-on:input 也就是说貌似还需要显示触发一次
            }
        }
    });

    Vue.component('zx-checkbox', {
        model: { // 这里自定义v-model绑定的prop和event 但是注意注意这里是子组件自己的prop和event不是其内部的input的，要触发的话需要在内部inpu里写对应的处理
            prop: 'checked',
            event: 'change'
        },
        props: {
            checked: Boolean, // 注意注意 这里仍然需要显示声明与model中prop对应的属性 这个属性时组件自己的不是内部的
            value: String  // 这样就允许拿 `value` 这个 prop 做其它事了 这个value属性是组件自己的
        },
        template: '<span><input type="checkbox" ref="checkbox" v-bind:checked="checked" v-on:change="updateFoo($event.target.checked)"></span>', // 这里把组件的checked属性和内部的input绑定 触发事件也关联上 即input有没有checked由组件的checked属性决定，而组件的checked属性又是由外部传入的foo决定
        data: function(){
            return {

            }
        },
        methods: {
            updateFoo: function(arg){
                alert(this.value);
                this.$emit('change', arg);
            }
        }
    });


    new Vue({
        el: '#example',
        data: {
            total: 0,
            price: 100,
            foo: true
        },
        methods: {
            incremnetTotal: function(){
                this.total += 1;
            },
            dianwo: function(){
                alert('你小子敢点根元素？')
            }
        }
    })



</script>
</body>
</html>